MONGO_URI=mongodb+srv://zainabmehmood653_db_user:wwnKBRmqcuHkKIXN@roastify.1jdczqy.mongodb.net/roastify?appName=Roastify
SECRET_KEY=your-super-secret-key-here

# Email Configuration (e.g. for Gmail App Passwords)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SENDER_EMAIL=your-email@gmail.com
